@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex;
	padding: 30px 0;
	min-height: 100vh;
}

header {
	background-image: url('https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
	background-size: cover;
	background-position: center center;
	padding: 150px 0;
	position: relative;
	text-align: center;
	align-items: center;
	justify-content: center;
  }
  
  header:after {
	background-color: rgb(20, 20, 20) (0, 0, 0, 0.7);
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
  
  header .title {
	color: white;
	position: relative;
	z-index: 1;
  }
  
  header .title h1 {
	margin: 0;
  }
  
  header .title p {
	margin: 10px 0;
  }


  main {
	margin: 2rem;
	  align-items: center;
	justify-content: center;
  }

h1 {
	justify-content: center;
	align-items: center;
}

section {
  margin: 2rem 0;
  align-items: center;
  justify-content: center;
}

input {
  font-size: 1rem;
  padding: .25rem;
}

button {
  font-size: 1rem;
  padding: .25rem .5rem;
  margin: 3px;
  border: none;
  border-radius: 50px;
  background-color: whitesmoke;
}



/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px blue;
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	line-height: 0;
	height: auto;
	padding: 0;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: yellowgreen;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: white;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #125729;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: yellowgreen;
	border: 1px solid yellowgreen;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-family: 'Muli';
	font-size: 16px;
	line-height: 20px;
	height: auto;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	text-transform: none;
}

button.floating-btn:focus {
	color: white;
	outline: none;
}

button.floating-btn:hover {
	background-color: #ffffff;
	color: #006125;
}

.floating-text {
	background-color: yellowgreen;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.floating-text a {
	color: white;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}